.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.product-name {
    font-weight: 600;
    font-size: 15px;
    height: 42px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body a {
    margin-top: auto;
}